[Unit]
Description=Red5 Streaming Service
After=network.target
RequiresMountsFor=/etc /usr

[Service]
ExecStart=/usr/local/bin/start-red5.sh
EnvironmentFile=/etc/systemd/video.conf
WorkingDirectory=/home/pi
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target

