[Unit]
Description=Video Service
After=systemd-remount-fs.service network.target nss-lookup.target
RequiresMountsFor=/etc /usr

[Service]
Type=forking
ExecStart=/usr/local/bin/start-video.sh
EnvironmentFile=/etc/systemd/video.conf
RuntimeDirectory=video-stream
RuntimeDirectoryMode=0755
ExecStartPre=/bin/sleep 4
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
