[Unit]
Description=Video Service
After=network.target
RequiresMountsFor=/etc /usr

[Service]
Type=simple
ExecStart=/usr/local/bin/start-video.sh
EnvironmentFile=/etc/systemd/video.conf
RuntimeDirectory=video-stream
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

